<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>

        form{
           margin: 50px;
        }
        .form-group{
        margin-right:4%;
        margin-left:4%;
        }

    </style>

</head>
<body>
{% include "exam/navbar.html" %}
{{ form.crispy }}

<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Student Sign Up Page</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="first_name">First Name</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
        </div>
        <div class="form-group col-md-5">
          <label for="last_name">Last Name</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
      </div>

    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="username">Username</label>
             {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="Username" %}
        </div>
        <div class="form-group col-md-5">
          <label for="email_address">Email Address</label>
            {% render_field studentForm.studentEmail|attr:'required:true'  class="form-control" placeholder="Email address" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="ic">NRIC</label>
           {% render_field studentForm.studentIC|attr:'required:true' class="form-control" placeholder="901215021001"%}
        </div>
        <div class="form-group col-md-5">
          <label for="dob">Date of birth</label>
           {% render_field studentForm.studentDOB|attr:'required:true' class="form-control" placeholder="Date of birth"%}
        </div>
      </div>

      <div class="form-row">
         <div class="form-group col-md-5">
          <label for="contact">Contact Number</label>
            {% render_field studentForm.studentContact|attr:'required:true' class="form-control" placeholder="0111234999"%}
        </div>
        <div class="form-group col-md-5">
          <label for="gender">Gender</label>
            {% render_field studentForm.studentGender|attr:'required:true' placeholder="Gender"%}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-11">
          <label for="address">Address</label>
            {% render_field studentForm.studentAddress|attr:'required:true' class="form-control"%}
        </div>
      </div>

    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="password" type="password">Password</label>
            {% render_field userForm.password|attr:'required:true' class="form-control"%}
        </div>

        <div class="form-group col-md-5">
          <label for="password" type="password">Confirm Password</label>
            {% render_field userForm.password|attr:'required:true' class="form-control"%}
        </div>
    </div>
    </br>
    {% for message in messages %}
    <div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
    <div>
    <button type="submit" class="btn btn-success" style="width: 40%;border:none;background-color:#3A5898;;display: flex;justify-content:center; margin:auto; ">Sign Up</button>
    </div>
  </form>
</div>

<br><br>
{% include "exam/footer.html" %}
</body>
</html>