{% extends 'exam/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .container{
        position:relative;
        text-align:center;
    }

    .dashboard{
    background-color: #3A5898;
    border-radius: 10px;
    height:42px;
    text-align:center;
    position:static;
}

.dashboard-content{
    position:static;
    background-color: white;
    border-radius: 10px;
    height:80%;
    width:100%;
}
  </style>
</head>
<div class="dashboard">
<p style="color:white;">Approved Instructors</p>
</div>

<div class="dashboard-content">
  <br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <table class="table table-hover table-striped" id="dev-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Email Address</th>
          <th>Contact Number</th>
          <th>Address</th>
        </tr>
      </thead>
      {% for ins in instructors %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ins.get_name}}</td>
        <td>{{ins.instructorEmail}}</td>
        <td>{{ins.instructorContact}}</td>
        <td>{{ins.instructorAddress}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>

{% endblock content %}