{% extends 'instructor/instructorbase.html' %}

{% block style %}

.back{
    padding: 10px;
    padding-left:20px;
    background-color: #3A5898;
    color: white;
    border-radius: 10px !important;
}

.padding{
    padding: 15px
}


{% endblock %}


{% block content %}
<div class="shadow p-2 mb-4 bg-white rounded">
    <div class="back">
        <font size="5px">{% if editQues %} Edit Question
                        {% else %} Add Question {% endif %}</font>
    </div>

    {% if editQues %}
    <form method="post" action="{% url 'edit_question' editQues.questionID %}">
    {% else %}
    <form method="post" action="{% url 'add_question' %}">
    {% endif %}
    {% csrf_token %}
    <div class="padding">
      <div class="form-group">
          <label for="subject">Subject</label>
          <select id="subject" class="form-control" name="subject" required>
              {% if not editSub %}
              <option value="">--------</option>
              {% endif %}
              {% for subject in all_subject %}
              <option value="{{subject.subjectID}}" {% if editQues.subject == subject.subjectID %} selected="selected" {% endif %}>{{subject.subjectCode}} {{subject.subjectName}}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="Question">Question</label>
        <textarea class="form-control" id="question" rows="3" name="question" required >{% if editQues %} {{editQues.questionDesc}} {% endif %}</textarea>
      </div>
        {% if editQues %}
        {% for x in editAns %}
            <div class="form-group">
                <label for="option{{forloop.counter}}">Option {{forloop.counter}}</label>
                <input type="text" class="form-control" id="option{{forloop.counter}}" name="option{{forloop.counter}}" required value="{{x.answerDesc}}">
            </div>
        {% endfor %}
        {% else %}
       <div class="row">
          <div class="form-group col-5">
            <label for="option1">Option 1</label>
            <input type="text" class="form-control" id="option1" name="option1" required {% if editAns %} value="{{editAns.answerDesc}}" {% endif %}>
          </div>
          <div class="form-group col-5">
            <label for="option2">Option 2</label>
            <input type="text" class="form-control" id="option2" name="option2" required>
          </div>
       </div>
      <div class="row">
          <div class="form-group col-5">
            <label for="option3">Option 3</label>
            <input type="text" class="form-control" id="option3" name="option3" required>
          </div>
          <div class="form-group col-5">
            <label for="option4">Option 4</label>
            <input type="text" class="form-control" id="option4" name="option4" required>
          </div>
      </div>
        {% endif %}
     <div class="form-group col-5 row">
          <label for="correct">Correct Option</label>
          <select id="correct" class="form-control" name="correct">
              {% if editQues %}
              {% for x in editAns %}
                <option value="{{forloop.counter}}" {% if x.rightAns == True %} selected {% endif %}>Option {{forloop.counter}}</option>
              {% endfor %}
              {% else %}
                 <option selected value="1">Option 1</option>
                 <option value="2">Option 2</option>
                 <option value="3">Option 3</option>
                 <option value="4">Option 4</option>
              {% endif %}

          </select>
      </div>
    {% if editQues %}
     <div class="form-group">
      <label for="status">Status</label>
      <select id="status" class="form-control" name="status">
             <option value="A" {% if editQues.status == Active %} selected {% endif %}>Active</option>
             <option value="I" {% if editQues.status != Active %} selected {% endif %}>Inactive</option>
      </select>
     </div>
     {% endif %}
     {% if editQues %}
        <button type="submit" class="btn btn-success">Update Question</button>
     {% else %}
        <button type="submit" class="btn btn-success">Add Question</button>
     {% endif %}
    </div>
</form>
</div>
{% endblock %}

