<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 10px;
      height: 100%;
    }

    .jumbotron h1 {
      text-align: center;
    }
    </style>
</head>
<body>
{% include "exam/navbar.html" %}

 <div class="jumbotron" style="margin-bottom:0px;">
     <br><br><br>
<h1 class="display-5">Forgot Password?</h1>
     <hr class="my-4">
<p class="lead">Enter your email address in order to reset your password.</p>
     <br>

    <form method="POST">
        {% csrf_token %}

        <div class="form-row">
        <div class="form-group col-md-4">
          <label for="email" style="text-align:center;"><b>Email Address: </b></label>
            {% render_field password_reset_form.email|attr:'required:true'  class="form-control"%}
        </div>
            </div>

        <p class="lead">
       <button class="btn btn-primary" type="submit">Submit</button>
    </p>
    </form>

     {% for message in messages %}
    <div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
      {% endfor %}
      </div>
        </div>
 </div>
{% include "exam/footer.html" %}
</body>
</html>