{% extends 'instructor/instructorbase.html' %}


{% block style %}
table{
    border-radius: 25px !important;
}

.head{
    font-size: 20px;
}

.space{
    height: 10px
}

.back{
    padding: 10px;
    background-color: #3A5898;
    color: white;
    border-radius: 10px !important;
}

.assign{
    color: black;
}

.edit{
    color: #FFC720;
}

.delete{
    color: #F5564A;
}

.search{
    color: white;
    font-size: 15px;
    text-align:center;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

span.number{
  border-radius: 5px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageactive{
  background-color: #3A5898;
  color: white;
  border-radius: 5px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3A5898;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}


.searching{
  padding: 7px 16px 7px 16px;
  background-color: #3A5898;
  color: #FFFFFF;
  border-radius: 5px;
}




{% endblock %}


{% block content %}
<div class="shadow p-2 mb-4 bg-white rounded">
    <div class="back">
        <font size="5px">Manage Exam</font>
            <a href="{% url 'add_examination' %}">
                        <button type="button" class="btn btn-success float-right">
                            Add Exam
                        </button>
            </a>
    </div>
    <div class="form-outline">
        <form method="get" class="form-horizontal">
            <div class="m-4 container">
                <div class="row align-items-center g-3">
                    <div class="col-auto">
                          <select id="subject" class="form-control" name="subject">
                              <option value="">---Subject---</option>
                              {% for subject in all_subject %}
                              <option value="{{subject.subjectID}}">{{subject.subjectCode}} {{subject.subjectName}}</option>
                              {% endfor %}
                          </select>
                    </div>
                    <div class="col-3">
                        <input type="date" class="form-control" id="ques" name="ques" placeholder="Exam Date">
                    </div>
                    <div class="col-auto">
                        <select id="status" class="form-control" name="status">
                                 <option value="">---Status---</option>
                                 <option value="A">Active</option>
                                 <option value="I">Inactive</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="submit" class="btn btn-secondary">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Subject</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Duration(hours)</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in all_exam %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
                {% for subject in all_subject %}
                {% if exam.subject == subject.subjectID %}
              <td>{{subject.subjectName}}</td>
                {% endif %}
                {% endfor %}
              <td>{{exam.examDate}}</td>
              <td>{{exam.startTime}} - {{exam.endTime}}</td>
              <td>{{exam.duration}}</td>
              <td>
                  <a href="{% url 'assign_student' exam.examID %}" class="assign"><i class="material-icons" title="Assign Student">&#xE7FE;</i></a>
                  <a href="" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
                  <a href="" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a></td>
            </tr>

        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}

