{% extends 'student/studentbase.html' %}


{% block style %}
table{
    border-radius: 25px !important;
}

.head{
    font-size: 20px;
}

.space{
    height: 10px
}

.back{
    padding: 10px;
    float: center;
    background-color: #3A5898;
    color: white;
    border-radius: 10px !important;
}

.edit{
    color: #FFC720;
}

.delete{
    color: #F5564A;
}

.search{
    color: white;
    font-size: 15px;
    text-align:center;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

span.number{
  border-radius: 5px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pageactive{
  background-color: #3A5898;
  color: white;
  border-radius: 5px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #3A5898;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}


.searching{
  padding: 7px 16px 7px 16px;
  background-color: #3A5898;
  color: #FFFFFF;
  border-radius: 5px;
}




{% endblock %}


{% block content %}
<div class="shadow p-2 mb-4 bg-white rounded">
    <div class="back" style="text-align:center;">
        <font size="5px" >Examination</font>
    </div>
    <table class="table table-borderless">
      <tbody>
      {% for e in exam_info %}

      <tr><td align="right">Subject: </td>
          <td>
              {% for subject in all_subjects %}
                {% if subject.subjectID == e.subject %}
              <b>{{subject.subjectCode}} {{subject.subjectName}}</b>
                {% endif %}
              {% endfor %}
          </td>
      </tr>
      <tr><td align="right">Date: </td><td><b>{{e.examDate}}</b></td></tr>
      <tr><td align="right">Time: </td><td><b>{{e.startTime}} - {{e.endTime}}</b></td></tr>
      {% endfor %}
      <tr><td colspan="2"> <div class="back" style="text-align:center;">
        Rules and Regulations
    </div></td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1.  Answer <b>all</b> questions given.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2.  You are given <b>1 hour(s)</b> to answer all the questions.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3.  <b>CHEATING</b> or <b>PLAGIARISM</b> during examination is not allowed.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4.  Please make sure your camera is placed <b>in front of your face</b> before starting examination.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5.  Your camera will <b>always on</b> during the examination.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5.  Your camera will <b>always on</b> during the examination.</td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.  Click on the “<b>Submit</b>” button to submit your answer after done answering your questions. </td></tr>
      <tr><td colspan="2"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7.  You can view your result after the examination session is ended. </td></tr>
      </tbody>
    </table>
    <div style="text-align:center;">
        <a role="button" class="btn btn-success" href="{% url 'start_exam' pk %}">Start Examination</a>
    </div>
</div>

{% endblock %}

